.icon-preset { 
    position: absolute;
    width: 50px;
    height: 50px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    z-index: -999;
  
    .desktop-icon-image { 
  
      cursor: pointer;
  
      img { 
        width: 100%;
        transition: .3s;
      }
  
      img:hover {
        transform: scale(1.05) translateY(-5px);
      }
  
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .desktop-icon-title { 
      p { 
        padding: 10% 0;
        margin: 0;
        font-size: 13px;
        font-family: var(--cFont);
        font-weight: 400;
        color: var(--cGrey);
    }
    }
  }