.files-container { 
    position: absolute;
    top: -50px;
    left: 1400px;


    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.file { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100px;
    height: 100px;
    margin: 10px;

    img { 
        width: 50px;
        transition: 0.5s;
    }

    p { 
        padding: 0;
        margin: 0;
        font-size: 13px;
        font-family: var(--cFont);
        font-weight: 500;
        color: var(--cGrey);
        text-align: center;
    }

}

.file:hover {
    cursor: pointer; 
    img { 
        transform: scale(1.1);
    }
}