.desktop {
  width: 100vw;
  height: 100vh;

  background-color: var(--cShadowWhite);



  // K TOMUTO SA VRATIT
  // background-image: url('./resources/dots_background.svg');
  // background-size: 900px;

}

.desktop-content { 
  position: relative;
}
